* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background: url(../images/background.jpg) no-repeat center center fixed;
  background-size: cover;
}

body {
  font-family: "Lato", sans-serif;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

header {
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #66b3f0;
  /* For browsers that do not support gradients */
  background-image: -webkit-gradient(linear, left top, right top, from(#66b3f0), to(#0c3c60));
  background-image: linear-gradient(to right, #66b3f0, #0c3c60);
  height: 10vh;
  padding: 0.01%;
  width: 100%;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

header .logo-container {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-right: 20px;
}

#logo {
  width: 60px;
}

h1 {
  color: white;
  margin: auto;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 1.5em;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  h1 {
    font-size: 1em;
  }
}

.btn-container {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.btn {
  font-size: 1.5em;
  background-color: #3876a6;
  color: white;
  margin: 0px 40px 0px 40px;
  padding: 6px 12px 6px 12px;
  border-radius: 12px;
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 3px;
}

a {
  color: inherit;
  /* blue colors for links too */
  text-decoration: inherit;
  /* no underline */
}

.btn:hover {
  -webkit-transform: translatey(-1.5px);
          transform: translatey(-1.5px);
  -webkit-filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.2));
}

.btn:active {
  -webkit-transform: translateY(-0.2px);
          transform: translateY(-0.2px);
  -webkit-filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.2));
}

#patient-table {
  margin: 30px 0px 0px 5%;
  border-collapse: collapse;
  width: 90%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8em;
}

tr:hover {
  color: white;
  background-color: #167fa6;
  cursor: pointer;
}

.add-patient-form {
  margin: 50px 0px 0px 0px;
  float: right;
}

#name-label,
#age-label,
#email-label,
#fitbit-label,
#session-label {
  display: table-cell;
  text-align: right;
}

#name-input,
#age-input,
#email-input,
#fitbit-input,
#session-input {
  display: table-cell;
  margin: 5px 0px 0px 10px;
  width: 60%;
  text-align: center;
}

div.add-patient-row {
  display: table-row;
}

.add-btn-container {
  margin: 20px 0px 0px 100px;
}

#add-btn,
#submit-btn {
  font-size: 0.8em;
  background-color: #3876a6;
  color: white;
  padding: 6px 12px 6px 12px;
  border-radius: 12px;
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 3px;
}

#add-btn:hover,
#submit-btn:hover {
  -webkit-transform: translatey(-1.5px);
          transform: translatey(-1.5px);
  -webkit-filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.2));
}

#add-btn:active,
#submit-btn:active {
  -webkit-transform: translateY(-0.2px);
          transform: translateY(-0.2px);
  -webkit-filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.2));
}

footer {
  background-color: #66b3f0;
  /* For browsers that do not support gradients */
  background-image: -webkit-gradient(linear, left top, right top, from(#66b3f0), to(#0c3c60));
  background-image: linear-gradient(to right, #66b3f0, #0c3c60);
  position: absolute;
  height: 30px;
  width: 100%;
  bottom: 0;
  left: 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.5);
}

#copyright {
  color: white;
  font-size: 0.8em;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.patient-login-container {
  text-align: center;
}

.patient-login {
  margin-top: 100px;
}

#patient-auth-email {
  margin: 10px 0px 20px 5px;
}

.patient-home-container {
  display: -ms-grid;
  display: grid;
  position: relative;
  width: 100%;
}

.survey-btn-container {
  margin: 30px 0px 20px 0px;
}

#survey-btn {
  font-size: 1em;
  padding: 8px 10px 8px 10px;
}

.patient-home-pain {
  background-color: rgba(255, 255, 255, 0.7);
  width: 60%;
  height: 60vh;
  border-style: solid;
  border-color: black;
  border-width: 0.3px;
  float: left;
  overflow: auto;
  overflow-y: scroll;
  margin: 10px 0px 10px 30px;
  padding: 5px;
}

.patient-home-pain p {
  line-height: 2em;
}

.article-container {
  background-color: rgba(255, 255, 255, 0.7);
  width: 30%;
  height: 60vh;
  border-style: solid;
  border-color: black;
  border-width: 0.3px;
  float: right;
  overflow: auto;
  overflow-y: scroll;
  margin: 10px 30px 10px 10px;
}

.results {
  margin: 10px;
  border-bottom: 2px solid #2b83bb;
  padding: 5px;
}

.results:hover {
  background-color: #e4e4e4;
}

.article-title {
  margin-bottom: 5px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

.article-snippet {
  font-family: "Lato", sans-serif;
  margin-bottom: 5px;
}

.article-link {
  color: #3434c7;
  display: block;
  overflow-wrap: break-word;
}

.article-link:visited {
  color: #54b2d1;
  text-decoration: underline;
}

.article-link:hover {
  color: purple;
}

.survey-container {
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2%;
  font-weight: bold;
}

.survey-form {
  overflow: auto;
  overflow-y: scroll;
  margin: 10px 10px 10px 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff1f;
}

::-webkit-scrollbar-thumb {
  background: #66b3f0;
}

::-webkit-scrollbar-thumb:hover {
  background: #59a3df;
}

input[type="radio"] {
  /* IE 9 */
  -webkit-transform: scale(1);
  /* Chrome, Safari, Opera */
  transform: scale(1);
  margin: 0px 20px 0px 2px;
}

.time-of-treatment {
  margin: 0px 0px 30px 20px;
}

#time-input {
  background-color: rgba(255, 255, 255, 0);
  border-style: none;
}

.survey-container .row {
  margin-top: 15px;
}

.row p {
  margin-bottom: 10px;
}
/*# sourceMappingURL=style.css.map */